<configuration>

	<logger name="org.springframework" level="error" />
		
	<!-- uniVocity loggers -->
	
	<!-- data logs -->
	<logger name="com.univocity.log.data" level="WARN" />
	<logger name="com.univocity.log.metadata.data" level="WARN" />
	
	<!-- statement logs -->
	<logger name="com.univocity.log.statement" level="debug" />
	<logger name="com.univocity.log.metadata.statement" level="debug" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>